body {
	font-family: 'Crimson Pro', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

table, tr, td {
	border-collapse: collapse;
}

td {
	vertical-align:top;
	width:50%;
}

td > div {
	height:800px;
}

.preview_td {
	padding:1em;
	font-size: larger;
	background-color: #DDD;
}

.preview_td > div {
	overflow-y:auto;
}

form {
	float: right;
}

